# importing libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [11]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 3AE1-5CA1

 Directory of C:\Users\aavya gupta

17-06-2023  01:52    <DIR>          .
31-01-2023  02:42    <DIR>          ..
05-05-2023  16:27    <DIR>          .azuredatastudio
13-10-2022  14:45               424 .bash_history
29-11-2022  01:17    <DIR>          .conda
28-11-2022  19:08                25 .condarc
28-11-2022  19:08    <DIR>          .continuum
13-10-2022  14:47               180 .gitconfig
24-06-2022  00:21    <DIR>          .idlerc
16-06-2023  16:29    <DIR>          .ipynb_checkpoints
28-06-2022  17:11    <DIR>          .ipython
28-06-2022  17:03    <DIR>          .jupyter
09-01-2023  18:14    <DIR>          .matplotlib
16-06-2023  15:39    <DIR>          .vscode
16-04-2023  23:15           225,102 1.04. Real-life example.csv
09-05-2023  16:00           321,646 3_hierarchical_cluster_scipy.ipynb
12-04-2023  16:25             4,271 aavya.py.ipynb
16-06-2023  23:59    <DIR>          ABES
28-06-2022  16:50    <DIR>          anaconda3
28-12-2022  12:01           776,022 archive (2).zip
30-11-2022  12:32           179,807 archive.zip
20-01-2022  17:42    <DIR>          C TUTORIAL
28-04-2023  12:10                 0 CD
31-01-2023  11:03    <DIR>          Contacts
28-04-2023  12:10                 0 COPY
28-12-2022  12:04         1,005,449 covid_19_india.csv
28-12-2022  12:03         1,108,819 covid_vaccine_statewise.csv
09-05-2023  15:44         4,450,087 covid19 data science project.ipynb
17-06-2023  01:46            38,180 credit card fraud detection project .ipynb
17-06-2023  01:52       102,919,038 creditcard.csv
04-05-2023  17:40    <DIR>          Documents
17-06-2023  01:49    <DIR>          Downloads
31-01-2023  11:03    <DIR>          Favorites
16-06-2023  16:06       351,238,196 fraudTrain.csv
01-12-2022  15:34             2,185 linked list.c
31-01-2023  11:03    <DIR>          Links
28-04-2023  12:10                 0 MA
28-04-2023  12:10                 0 MD
26-01-2023  02:31    <DIR>          Microsoft
25-05-2023  19:33    <DIR>          Music
09-01-2023  18:28            10,283 myfirstplot.png
30-11-2022  21:20            25,233 numpy tutorial.ipynb
16-06-2023  23:59    <DIR>          OneDrive
19-05-2023  12:34    <DIR>          OS
19-05-2023  12:05    <DIR>          OSLAB
16-04-2023  23:11            57,047 pandas college class.ipynb
20-06-2022  16:58    <DIR>          Pictures
19-05-2023  12:18    <DIR>          PRACT
13-10-2022  14:54    <DIR>          Pull-N-Merge
29-05-2023  12:11            34,274 PYSPARK BY KRISH NAYAK .ipynb
29-05-2023  17:32            36,027 pyspark.ipynb
10-02-2023  16:29            53,019 regression.ipynb
31-01-2023  11:03    <DIR>          Saved Games
31-01-2023  11:03    <DIR>          Searches
28-12-2022  12:04           622,938 StatewiseTestingDetails.csv
28-04-2023  12:10                 0 TREE
30-11-2022  12:40           775,629 Ubereat_US_Merchant.csv
02-12-2022  11:39                 0 untitled
14-09-2022  13:04            10,831 Untitled.ipynb
05-12-2022  16:10                 0 untitled1
21-09-2022  12:01               619 Untitled1.ipynb
30-11-2022  21:20             5,539 Untitled10.ipynb
24-04-2023  17:19             3,212 Untitled11.ipynb
01-12-2022  00:40             7,057 Untitled12.ipynb
01-12-2022  11:15             8,365 Untitled13.ipynb
02-12-2022  00:56           670,884 Untitled14.ipynb
02-12-2022  11:13                72 Untitled15.ipynb
02-12-2022  11:30            11,831 Untitled16.ipynb
02-12-2022  13:01            41,625 Untitled17.ipynb
05-12-2022  16:45            87,989 Untitled18.ipynb
05-12-2022  16:10             6,635 Untitled19.ipynb
21-09-2022  12:51             3,264 Untitled2.ipynb
05-12-2022  23:26           241,360 Untitled20.ipynb
06-12-2022  15:54            20,818 Untitled21.ipynb
07-12-2022  12:10             4,884 Untitled22.ipynb
07-12-2022  14:36            19,515 Untitled23.ipynb
08-12-2022  10:29            52,661 Untitled24.ipynb
19-12-2022  16:29            66,237 Untitled25.ipynb
11-12-2022  18:36            20,314 Untitled26.ipynb
12-12-2022  15:07               589 Untitled27.ipynb
12-12-2022  15:08               589 Untitled28.ipynb
12-12-2022  16:31            31,486 Untitled29.ipynb
28-09-2022  13:01             5,552 Untitled3.ipynb
12-12-2022  23:31               589 Untitled30.ipynb
14-12-2022  02:17             7,164 Untitled31.ipynb
17-12-2022  23:42            58,880 Untitled32.ipynb
18-12-2022  23:52           166,325 Untitled33.ipynb
18-12-2022  23:03               589 Untitled34.ipynb
24-12-2022  00:37            37,092 Untitled35.ipynb
21-12-2022  23:09            25,561 Untitled36.ipynb
20-12-2022  12:05             3,240 Untitled37.ipynb
21-12-2022  23:09               589 Untitled38.ipynb
28-12-2022  12:41            71,640 Untitled39.ipynb
02-11-2022  13:01            19,599 Untitled4.ipynb
24-12-2022  20:39            19,338 Untitled40.ipynb
27-12-2022  12:07             3,044 Untitled41.ipynb
27-12-2022  13:04            18,506 Untitled42.ipynb
28-12-2022  12:03            18,106 Untitled43.ipynb
29-12-2022  01:03               589 Untitled44.ipynb
29-12-2022  01:17            23,826 Untitled45.ipynb
03-01-2023  14:54               589 Untitled46.ipynb
03-01-2023  15:37            12,449 Untitled47.ipynb
04-01-2023  13:06           184,171 Untitled48.ipynb
04-01-2023  15:37            83,997 Untitled49.ipynb
02-11-2022  17:05             1,771 Untitled5.ipynb
06-01-2023  01:53             7,728 Untitled50.ipynb
09-01-2023  01:50            21,653 Untitled51.ipynb
09-01-2023  02:03            26,614 Untitled52.ipynb
09-01-2023  18:19             5,433 Untitled53.ipynb
09-01-2023  18:29            15,975 Untitled54.ipynb
13-01-2023  19:25            33,075 Untitled55.ipynb
17-01-2023  15:36               589 Untitled56.ipynb
19-01-2023  02:16            74,859 Untitled57.ipynb
19-01-2023  00:31               601 Untitled58.ipynb
21-01-2023  19:34               602 Untitled59.ipynb
09-11-2022  11:53             1,179 Untitled6.ipynb
03-02-2023  16:28            79,501 Untitled60.ipynb
10-04-2023  12:06             2,967 Untitled61.ipynb
10-04-2023  16:14             6,017 Untitled62.ipynb
12-04-2023  15:55               639 Untitled63.ipynb
12-04-2023  17:51             8,081 Untitled64.ipynb
16-04-2023  23:17            28,196 Untitled65.ipynb
19-04-2023  15:17             2,068 Untitled66.ipynb
08-05-2023  16:02             4,807 Untitled67.ipynb
09-05-2023  15:58            15,810 Untitled68.ipynb
10-05-2023  14:30             3,547 Untitled69.ipynb
09-11-2022  12:55            11,955 Untitled7.ipynb
15-05-2023  16:12            16,422 Untitled70.ipynb
29-05-2023  01:19             1,799 Untitled71.ipynb
06-06-2023  15:58            12,736 Untitled72.ipynb
16-06-2023  16:08            16,011 Untitled73.ipynb
30-11-2022  11:56             3,335 Untitled8.ipynb
30-11-2022  21:20             2,725 Untitled9.ipynb
31-01-2023  11:03    <DIR>          Videos
05-12-2022  23:11            29,247 world_population.csv
             105 File(s)    466,397,634 bytes
              30 Dir(s)  77,808,537,600 bytes free

In [12]:
#loading the dataset to panada dataframe
credit_card_data = pd.read_csv('creditcard.csv')

In [13]:
#first 5 rows of dataset 
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [14]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [15]:
#dataset information 
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [16]:
#checking the no of misssing values in dataset
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
class     0
dtype: int64

In [17]:
#checking the no of misssing values in dataset
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
class     0
dtype: int64

In [19]:
credit_card_data['class'].value_counts()

0    284315
1       492
Name: class, dtype: int64

# highly unbalanced dataset 
0- normal transactions 
1 - fraudlent transactions

In [22]:
legit=credit_card_data[credit_card_data.Class == 0]
fraud=credit_card_data[credit_card_data.Class == 1 ]

AttributeError: 'DataFrame' object has no attribute 'Class'